<table
  cellspacing="10"
  cellpadding="10"
  style="
    font-family: 'Helvetica', sans-serif;
    font-size: 11pt;
    line-height: 25px;
    word-spacing: 2.5px;
    letter-spacing: 0.7px;
    max-width: 800px;
  "
>
  <tr>
    <td>
      <span>Greetings !</span><br /><br />
      This email is for retrieving your account {{email}} at {% if protocol %} https://{{domain}}/ {% else %}http://{{domain}}/{% endif %}.Here attached your new password
      <br/> Password : {{ password }}. <br/>
      Please do not share it to others and be careful next time.
      <strong>
        Note that change your password immediately upon login.
      </strong>
    </td>
  </tr>

  <tr>
    <td style="color: grey">
      If this not your email address, just ignore or
      delete this message.
    </td>
  </tr>
</table>
